// CART

.cart-index {
	@include background-img('/cart/cart-index.png');
	width: 1133px;
	height: 1225px;
	margin: 20px auto 35px;
	position: relative;

	.continue-btn {
		@include absolute-link(100px, 31px, 865px, 379px);
	}

	.proceed-with-checkout {
		@include absolute-link(253px, 41px, 17px, 1113px);
	}
}

.shipping {
	@include background-img('/cart/shipping.png');
	width: 1133px;
	height: 1149px;
	margin: 20px auto 70px;
	position: relative;

	.continue-btn {
		@include absolute-link(100px, 31px, 863px, 468px);
	}

	.enter-payment-info {
		@include absolute-link(611px, 52px, 2px, 1097px);
	}
}

.payment {
	@include background-img('/cart/payment.png');
	width: 1132px;
	height: 1321px;
	margin: 20px auto 70px;
	position: relative;

	.shipping-link {
		@include absolute-link(611px, 63px, 0px, 106px);
	}

	.continue-btn {
		@include absolute-link(100px, 31px, 862px, 467px);
	}

	.order-confirmation {
		@include absolute-link(611px, 52px, 16px, 1269px);
	}
}

.summary {
	@include background-img('/cart/summary.png');
	width: 1132px;
	height: 856px;
	margin: 20px auto 100px;
	position: relative;

	.continue-btn {
		@include absolute-link(100px, 31px, 862px, 467px);
	}

	.complete-purchase {
		@include absolute-link(611px, 52px, 0px, 804px);
	}
}

.thank-you {
	@include background-img('/cart/thank-you.png');
	width: 1133px;
	height: 1273px;
	margin: 20px auto 70px;
	position: relative;

	.continue-btn {
		@include absolute-link(100px, 31px, 862px, 420px);
	}

	.back-to-zumba {
		@include absolute-link(641px, 77px, 0px, 1196px);
	}
}