---
title: 'Mom & Me Scarf: About us'
---

<section class="about-us">
	<header></header>
	<div class="about-us-content">
		<article>
			<p class="center">
				All product is designed in Stockholm Sweden! Our design is patent pending. Scarves are worn by women that want that little  extra for herself and her newborn! Created with you in mind by
				<div class="nolte-logo">
					<span class="title">Nolte design company</span>
					<span class="subtitle">Stockholm</span>
				</div>
			</p>
			<div class="column-content">
				<p>
					<span class="strong">NOLTE DESIGN COMPANY</span> is a Swedish design company that creates functional and fashionable products for both mom and baby.

				</p>
				<div class="about-us-logo">Mom & Me Scarf</div>
				<p>	
					 was created for the new mom to be able to enjoy the first time with their new born and to enable moms to walk into any situation knowing that in an instant they can create their own private space for the baby. 

				</p>
				<p>
					Nursing an infant can prove challenging when in public areas ! Apron style nursing covers are plentiful on the market.  We designed our scarf differently with not only function but with fashion in mind.  Our scarf is a fashion accessory that is used during the nursing period. The scarf is worn instead of carried in the diaper bag and also remains a staple item in your wardrobe for years to come.
				</p>
				<p>
					We made upcycling easy….once nursing your infant is a sweet  memory, your scarf can still be used as a fashion accessory.
				</p>
				<p>
					<span class="strong">NOLTE DESIGN COMPANY</span> strives to develop products with dual purpose, fashion and function. We provide high quality products that will be used for years unlike most infant merchandise.
				</p>
			</div>
		</article>
	</div>
</section>