---
title: 'Mom & Me Scarf: About us'
---

<section class="about-us">
	<header>
		<h1>Nolte Design Company</h1>
	</header>
	<div class="about-us-content">
		<h2>About Us</h2>
		<article>
			<p>
				All product is designed in Stockholm Sweden! Our design is patent pending. The scarves are worn
				by women that want a little extra for herself and her newborn! Created with you in mind.
			</p>
			<p>
				<span class="strong">NOLTE DESIGN COMPANY</span> is a Swedish design company that create functional and fashionable products for both mom and baby.
			</p>
			<p>
				<span class="strong">Mom & Me Scarf</span> was created for the new mom to be able to enjoy the first time with their new born and to enable moms to walk into any situation knowing that in an instant they can create their own private space for their baby.
			</p>
			<p>
				Nursing an infant can prove challenging when in public areas! Other apron style nursing covers are plentiful on the market today but does
				little for the fashion conscious mom. We design our products with function and fashion in mind. Our scarf is used during the nursing period
				and doubles as an accessory, reduces the items you carry in the diaper bag and also remains a staple item in your wardrobe for years to come.
			</p>
			<p>
				We made upcycling easy ... when nursing your infant is sweet memory, your scarf can still be used for years to come, we strive to design
				products with dual purpose while being a fashionable. We like providing high quality tiems that are not thrown away after a short time which is so often the case with infant products.
			</p>
		</article>
	</div>>
</section>