---
title: 'Mom & Me Scarf: Collection'
name: 'collection'
---

<section class="collection">
	<header class="collection-header">
		<h1>Our Collection</h1>
		<span class="num-of-items">3 items below</span>
	</header>
	<div class="info-bar">
		<span>Buy 2 Get $10 OFF</span>
	</div>
	<ul class="collection-list">
		<li class="collection-item">
			<a href="/collection/sample-product.html">
				<img class="collection-image" src="/assets/img/item-sample.jpg">
			</a>
			<span class="collection-title">
				Light & Airy Viscose Black Onyx Nursing Scarf
			</span>
			<p>If you are only getting one this is the one - works for all occasions!</p>
			<span class="price">$59.00</span>
		</li>
		<li class="collection-item">
			<a href="/collection/sample-product.html">
				<img class="collection-image" src="/assets/img/item-sample.jpg">
			</a>
			<span class="collection-title">
				Light & Airy Viscose Diamond Stripe pink and gray NS
			</span>
			<p>This color works all seasons and brings a warm glow to your face.</p>
			<span class="price">$59.00</span>
		</li>
		<li class="collection-item">
			<a href="/collection/sample-product.html">
				<img class="collection-image" src="/assets/img/item-sample.jpg">
			</a>
			<span class="collection-title">
				Light & Airy Viscose Neutral Dots Sand & Pearl NS
			</span>
			<p>This is our neutral option that goes with most ensembles and comes with an irresistible dotted pattern.</p>
			<span class="price">$59.00</span>
		</li>
	</ul>
</section>