---
title: 'Mom & Me Scarf: Collection'
name: 'collection'
---

<section class="collection">
	<header class="collection-header">
		<h1>Our Collection</h1>
		<span class="num-of-items">3 items below</span>
	</header>
	<div class="info-bar">
		<span>Free shipping on all orders</span>
	</div>
	<ul class="collection-list">
		<li class="collection-item">
			<a href="/collection/sample-product.html">
				<img class="collection-image" src="/assets/img/item-sample.jpg">
			</a>
			<span class="collection-title">
				Feather light
			</span>
			<span class="price">$59.00</span>
		</li>
		<li class="collection-item">
			<a href="/collection/sample-product.html">
				<img class="collection-image" src="/assets/img/item-sample.jpg">
			</a>
			<span class="collection-title">
				Feather light cotton voile creme nursing scarf
			</span>
			<span class="price">$59.00</span>
		</li>
		<li class="collection-item">
			<div class="collection-sale">
				<p class="collection-sale-text">
					<span class='sale-title'>Buy Two</span>
					<span class="sale-subtitle">Get $10 off</span>
				</p>
			</div>
		</li>
		<li class="collection-item">
			<a href="/collection/sample-product.html">
				<img class="collection-image" src="/assets/img/item-sample.jpg">
			</a>
			<span class="collection-title">
				Feather light cotton voile creme nursing scarf
			</span>
			<span class="price">$59.00</span>
		</li>
	</ul>
</section>