<section class="product-section">
    <div class="product-images">
        <img class="main-image" src="/assets/img/item-sample.jpg">
    </div>
    <div class="product-details">
        <h1>Feather light cotton voile creme nursing scarf</h1>
        <span class="price">$59.00</span>
        <p class="product-description">
            The viscose fabric drapes beautifully around your neck as a scarf and is very light and airy.
            Get a bit of luxury during the first time with your newborn. This Viscose fabric has been design with this purpose
            in mind and is soft to the touch and will give you privacy while keeping air flowing through fabrics
            to naturally keep temperature lower during feeding
        </p>
    </div>
</section>