---
title: 'Zumba Wireframe: Cart'
name: 'cart'
---

<section class="cart-index">
	<a class="continue-btn" href="/cart/shipping.html"></a>
	<a class="proceed-with-checkout" href="/cart/shipping.html"></a>
</section>
