---
title: 'Zumba Wireframe: Cart'
name: 'payment'
---

<section class="payment">
	<a class="shipping-link" href="/cart/shipping.html"></a>
	<a class="continue-btn" href="/cart/summary.html"></a>
	<a class="order-confirmation" href="/cart/summary.html"></a>
</section>