---
title: 'Zumba Wireframe: Cart'
name: 'shipping'
---

<section class="shipping">
	<a class="continue-btn" href="/cart/payment.html"></a>
	<a class="enter-payment-info" href="/cart/payment.html"></a>
</section>