---
title: 'Zumba Wireframe: Cart'
name: 'summary'
---

<section class="summary">
	<a class="continue-btn" href="/cart/thank-you.html"></a>
	<a class="complete-purchase" href="/cart/thank-you.html"></a>
</section>