<div class="customer-care">
	<nav>
		<ul>
			<li>
				<a data-href="#customer-care" class="active">Customer Care</a>
			</li>
			<li><a data-href="#shipping">Shipping Info</a></li>
			<li><a data-href="#return-policy">Return Policy</a></li>
			<li><a data-href="#privacy-policy">Privacy Policy</a></li>
			<li><a data-href="#wholesale">Wholesale</a></li>
		</ul>
	</nav>
	<div class="section-container">
		<section id="customer-care">
			<h2>Customer Care</h2>
			<p>
				Mom & Me Scarf was created for the new mom to be able to enjoy the first time with their new born and to enable moms to walk into any situation knowing that in an instant they can create their own private space for the baby.
			</p>
			<p>
				Nursing an infant can prove challenging when in public areas ! Apron style nursing covers are plentiful on the market.  We designed our scarf differently with not only function but with fashion in mind. Our scarf is a fashion accessory
			</p>
			<p>
				Mom & Me Scarf was created for the new mom to be able to enjoy the first time with their new born and to enable moms to walk into any situation knowing that in an instant they can create their own private space for the baby.
			</p>
			<p>
				Nursing an infant can prove challenging when in public areas ! Apron style nursing covers are plentiful on the market.  We designed our scarf differently with not only function but with fashion in mind. Our scarf is a fashion accessory
			</p>
		</section>
		<section id="shipping">
			<h2>Shipping Info</h2>
			<p>
				Mom & Me Scarf was created for the new mom to be able to enjoy the first time with their new born and to enable moms to walk into any situation knowing that in an instant they can create their own private space for the baby.
			</p>
			<p>
				Nursing an infant can prove challenging when in public areas ! Apron style nursing covers are plentiful on the market.  We designed our scarf differently with not only function but with fashion in mind. Our scarf is a fashion accessory
			</p>
			<p>
				Mom & Me Scarf was created for the new mom to be able to enjoy the first time with their new born and to enable moms to walk into any situation knowing that in an instant they can create their own private space for the baby.
			</p>
			<p>
				Nursing an infant can prove challenging when in public areas ! Apron style nursing covers are plentiful on the market.  We designed our scarf differently with not only function but with fashion in mind. Our scarf is a fashion accessory
			</p>
		</section>
		<section id="return-policy">
			<h2>Return Policy</h2>
			<p>
				Mom & Me Scarf was created for the new mom to be able to enjoy the first time with their new born and to enable moms to walk into any situation knowing that in an instant they can create their own private space for the baby.
			</p>
			<p>
				Nursing an infant can prove challenging when in public areas ! Apron style nursing covers are plentiful on the market.  We designed our scarf differently with not only function but with fashion in mind. Our scarf is a fashion accessory
			</p>
			<p>
				Mom & Me Scarf was created for the new mom to be able to enjoy the first time with their new born and to enable moms to walk into any situation knowing that in an instant they can create their own private space for the baby.
			</p>
			<p>
				Nursing an infant can prove challenging when in public areas ! Apron style nursing covers are plentiful on the market.  We designed our scarf differently with not only function but with fashion in mind. Our scarf is a fashion accessory
			</p>
		</section>
		<section id="privacy-policy">
			<h2>Privacy Policy</h2>
			<p>
				Mom & Me Scarf was created for the new mom to be able to enjoy the first time with their new born and to enable moms to walk into any situation knowing that in an instant they can create their own private space for the baby.
			</p>
			<p>
				Nursing an infant can prove challenging when in public areas ! Apron style nursing covers are plentiful on the market.  We designed our scarf differently with not only function but with fashion in mind. Our scarf is a fashion accessory
			</p>
			<p>
				Mom & Me Scarf was created for the new mom to be able to enjoy the first time with their new born and to enable moms to walk into any situation knowing that in an instant they can create their own private space for the baby.
			</p>
			<p>
				Nursing an infant can prove challenging when in public areas ! Apron style nursing covers are plentiful on the market.  We designed our scarf differently with not only function but with fashion in mind. Our scarf is a fashion accessory
			</p>
		</section>
		<section id="wholesale">
			<h2>Wholesale</h2>
			<p>
				Mom & Me Scarf was created for the new mom to be able to enjoy the first time with their new born and to enable moms to walk into any situation knowing that in an instant they can create their own private space for the baby.
			</p>
			<p>
				Nursing an infant can prove challenging when in public areas ! Apron style nursing covers are plentiful on the market.  We designed our scarf differently with not only function but with fashion in mind. Our scarf is a fashion accessory
			</p>
			<p>
				Mom & Me Scarf was created for the new mom to be able to enjoy the first time with their new born and to enable moms to walk into any situation knowing that in an instant they can create their own private space for the baby.
			</p>
			<p>
				Nursing an infant can prove challenging when in public areas ! Apron style nursing covers are plentiful on the market.  We designed our scarf differently with not only function but with fashion in mind. Our scarf is a fashion accessory
			</p>
		</section>
	</div>
</div>
