<section class="shop-header"></section>
<section class="catalogue-container">
	<nav class="shop-breadcrumbs">
		<a href="/shop">SHOP ALL</a>
	</nav>
	<div class="catalogue-selectors">
		<span class="category search">SEARCH SHOP</span>
		<span class="category main">CATEGORY</span>
		<span class="category color">
			COLOR 
			<span class="clear">clear x</span>
		</span>
	</div>
	<div class="catalogue"></div>
</section>
<section class="shop-collection"></section>
