---
title: 'Zumba Wireframe: Pink Top'
name: 'pink-top'
---

<section class="product-detail">
	<nav class="shop-breadcrumbs">
		<a href="/shop/women/tops.html?color=pink" class="back-link">BACK</a>
		> <a href="/shop/">SHOP</a>
		> <a href="/shop/women">WOMEN</a>
		> <span>Tops</span>
	</nav>
	<span class="pink-circle"></span>
	<a class="add-to-cart" data-src="/cart/"></a>
</section>