---
title: 'Zumba Wireframe'
---

<section class="homepage">
	<input class="location-input" type="text" placeholder="Search by Zip">
	<a class="find-a-class" href="/classes/results.html"></a>
</section>