---
title: 'Mom & Me Scarf'
---

<section class="homepage">
    <div class="homepage-slideshow-container">
        <ul class="slideshow">
            <li>
                <div class="slide">
                    <img src="/assets/img/slide1.png">
                    <article>
                        <span class="title">A Scarf ... the ultimate accessory</span>
                        <p>Wear as a scarf until it is time to feed - No need for extra items in your bag.</p>
                    </article>
                </div>
            </li>
            <li>
                <div class="slide">
                    <img src="/assets/img/slide2.png">
                    <article>
                        <span class="title">Take it anywhwere!</span>
                        <p>Enables moms to quickly provide a calming environment anywhere for their infant.</p>
                    </article>
                </div>
            </li>
            <li>
                <div class="slide">
                    <img src="/assets/img/slide3.png">
                    <article>
                        <span class="title">Keep eye contact</span>
                        <p>Keep eye contact between mom and baby! Scarf is designed with a stabilizing edge that naturally creates a private viewing area - 2 snap buttons is all it takes!</p>
                    </article>
                </div>
            </li>
        </ul>
    </div>
    <div class="small-gallery">
        <ul>
            <li>
                <img src="/assets/img/slide1.png">
            </li>
            <li>
                <img src="/assets/img/slide2.png">
            </li>
            <li>
                <img src="/assets/img/slide3.png">
            </li>
        </ul>
    </div>
</section>