<nav class="shop-breadcrumbs">
	<a href="/shop">SHOP ALL</a>
	{{#contains dirname 'women'}}> <a href="/shop/women">WOMEN</a>{{/contains}}
	{{#is page.name 'tops'}}> <a href="/shop/women/tops.html">TOPS</a>{{/is}}
	<span class="color-breadcrumb">
		PINK
		<span class="clear"></span>
	</span>
</nav>
<div class="catalogue-selectors">
	<span class="category search">
		SEARCH SHOP
		<span class="search-icon"></span>
	</span>
	<span class="category main">CATEGORY</span>
	<ul class="subcategories">
		<li>
			<span data-module="accordion" data-target=".women-subcategory">WOMEN</span>
		</li>
			<ul class="subcategory-list women-subcategory {{#contains page.name 'tops'}}_active{{/contains}}" style="{{#contains page.name 'tops'}}display: block;{{/contains}}">
				<li><a href="/shop/women/tops.html" class="tops-link {{#contains page.name 'tops'}}active{{/contains}}">Tops</a></li>
				<li>Pants</li>
				<li>Outerwear</li>
				<li>Footwear</li>
				<li>Accessories</li>
				<li>Bags</li>
				<li>Jewelry</li>
			</ul>
		</li>
		
		<li>MEN</li>
		<li>ACCESSORIES</li>
		<li>TRAIN AT HOME</li>
		<li>WHAT'S NEW</li>
		<li>SALE</li>
		<li>GIFT CARDS</li>
	</ul>
	<span class="category color">
		COLOR 
		<span class="clear">clear x</span>
	</span>
	<ul class="colors">
		<li class="black"></li>
		<li class="white"></li>
		<li class="pink"></li>
		<li class="dark-purple"></li>
		<li class="gray"></li>
		<li class="light-brown"></li>
		<li class="light-purple"></li>
		<li class="yellow"></li>
		<li class="aqua"></li>
		<li class="brown"></li>
		<li class="blue"></li>
		<li class="purple"></li>
	</ul>
	<span class="category size">SIZE</span>
	<ul class="subcategory-list _active">
		<li>X Small</li>
		<li>Small</li>
		<li>Medium</li>
		<li>Large</li>
		<li>X Large</li>
	</ul>
</div>