<footer class="main-footer">
	<nav class="footer-nav">
		<div class="footer-nav-wrapper">
			<ul class="main-nav">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/collection">Collection</a>
				</li>
				<li>
					<a href="/about">About us</a>
				</li>
{{!-- 				<li>
					<a href="/blog">Blog</a>
				</li> --}}
				<li>
					<a href="/customer">Customer care</a>
				</li>
				<li>
					<a href="/contact">Contact us</a>
				</li>
			</ul>
			<ul class="secondary-nav">
				<li>
					<a class="icon-facebook"></a>
				</li>
				<li>
					<a class="icon-pinterest"></a>
				</li>
				<li>
					<a class="icon-instagram"></a>
				</li>
				<li>
					<a class="icon-twitter"></a>
				</li>
			</ul>
		</div>
	</nav>
	<p class="footer-title">
		Nolte design company
		<span class="footer-location">Stockholm</span>
	</p>
</footer>