<header class="main-header">
	<a class="home-link" href="/"></a>
	<nav class="header-nav">
		<div class="header-nav-wrapper">
			<ul class="main-nav">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/collection">Collection</a>
				</li>
				<li>
					<a href="/about">About us</a>
				</li>
{{!-- 				<li>
					<a href="/blog">Blog</a>
				</li> --}}
				<li>
					<a href="/customer-care">Customer care</a>
				</li>
				<li>
					<a href="/contact">Contact us</a>
				</li>
			</ul>
			<ul class="secondary-nav">
				<li>
					<a>
						<span class="icon-sweden"></span>
						<span class="text">In swedish</span>
					</a>
				</li>
				<li>
					<a>
						<span class="icon-cart"></span>
						<span class="text">Shopping cart</span>
					</a>
				</li>
				<li>
					<a>
						<span class="icon-search"></span>
						<span class="text">Search</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</header>