<header class="main-header">
	<a class="home-link" href="/"></a>
	<a class="logo-link" href="/"></a>
	<a class="classes-link {{#contains dirname 'classes'}}active{{/contains}}" href="/classes"></a>
	<a 
		class="shop-link 
		{{#contains dirname 'shop'}}active{{/contains}} 
		{{#contains dirname 'cart'}}active{{/contains}}"
		href="/shop"
	></a>
	<a 
		class="header-cart-link 
		{{#contains dirname 'cart'}}
			{{#isnt page.name 'thank-you'}}
				_active
			{{/isnt}}
		{{/contains}}" 
		href="/cart/"
	>
		<span>1</span>
	</a>
</header>