<header class="main-header">
	<a class="home-link" href="/"></a>
	<a class="logo-link" href="/"></a>
	<div class="classes-link {{#contains dirname 'classes'}}active{{/contains}}">
		<span>CLASSES</span>
		<nav class="dropdown-menu">
			<ul>
				<li><a href="/classes">Find a class</a></li>
				<li><a href="/classes">Find an instructor</a></li>
				<li><a href="/classes/#become-an-instructor">Become an instructor</a></li>
		</nav>	
	</div>
	<a 
		class="shop-link 
		{{#contains dirname 'shop'}}active{{/contains}} 
		{{#contains dirname 'cart'}}active{{/contains}}"
		href="/shop"
	></a>
	<a 
		class="header-cart-link 
		{{#contains dirname 'cart'}}
			{{#isnt page.name 'thank-you'}}
				_active
			{{/isnt}}
		{{/contains}}" 
		href="/cart/"
	>
		<span>1</span>
	</a>
</header>