<div class="map-container">
	<form data-module="map-filters">
		<div class="map-container-item">
			<img src="/assets/img/map/icon.png"/>
		</div>
		<div class="filter-container">
			<div class="filter-top-container">
				<input type="text" name="zipcode" placeholder="Search City, State, or Zip"/>
				<a href="#" class="filter-select-item" data-module="accordion" data-target=".filter-bottom-container">Filters</a>
			</div>
			<div class="filter-bottom-container">
				<h4>Refine by</h4>
				<div class="column-wide">
					<div class="distance-container">
						<h5>Distance</h5>
						<div class="custom-dropdown half" name="distance-value">
							<select class="change-event">
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="15">15</option>
								<option value="20">20</option>
								<option value="25">25</option>
							</select>
						</div>
						<div class="custom-dropdown half" name="distance-label">
							<select class="change-event">
								<option value="mi">mi</option>
								<option value="km">km</option>
							</select>
						</div>
					</div>
					<div class="class-container">
						<h5>Class</h5>
						<div class="custom-dropdown" name="class-value">
							<select class="change-event">
								<option value="class-all">All</option>
								<option value="type-1">Type-1</option>
								<option value="type-2">Type-2</option>
								<option value="type-3">Type-3</option>
							</select>
						</div>
					</div>
				</div>
				<div class="column-short">
					<h5>Impact</h5>
					<h6>clear x</h6>
					<div class="checkbox-container">
						<input class="checkbox-item change-event" type="checkbox" id="impact-all" value="all"/> <label class="checkbox-label" for="impact-all">All</label>
						<input class="checkbox-item change-event" type="checkbox" id="impact-family" value="family"/> <label class="checkbox-label" for="impact-family">Family </label>
						<input class="checkbox-item change-event" type="checkbox" id="impact-low" value="low-impact"/> <label class="checkbox-label" for="impact-low">Low-impact </label>
						<input class="checkbox-item change-event" type="checkbox" id="impact-high" value="high-impact"/> <label class="checkbox-label" for="impact-high">High-impact </label>
						<input class="checkbox-item change-event" type="checkbox" id="impact-toning" value="toning"/> <label class="checkbox-label" for="impact-toning">Toning </label>
					</div>
				</div>
				<div class="column-short">
					<h5>Day</h5>
					<h6>clear x</h6>
					<div class="checkbox-container">
						<input class="checkbox-item change-event" type="checkbox" id="day-all" value="all"/> <label class="checkbox-label" for="day-all">All</label>
						<input class="checkbox-item change-event" type="checkbox" id="day-monday" value="monday"/><label class="checkbox-label" for="day-monday">Monday</label>
						<input class="checkbox-item change-event" type="checkbox" id="day-tuesday" value="tuesday"/><label class="checkbox-label" for="day-tuesday">Tuesday</label>
						<input class="checkbox-item change-event" type="checkbox" id="day-wednesday" value="wednesday"/><label class="checkbox-label" for="day-wednesday">Wednesday</label>
						<input class="checkbox-item change-event" type="checkbox" id="day-thursday" value="thursday"/><label class="checkbox-label" for="day-thursday">Thursday</label>
						<input class="checkbox-item change-event" type="checkbox" id="day-friday" value="friday"/><label class="checkbox-label" for="day-friday">Friday</label>
						<input class="checkbox-item change-event" type="checkbox" id="day-saturday" value="saturday"/><label class="checkbox-label" for="day-saturday">Saturday</label>
						<input class="checkbox-item change-event" type="checkbox" id="day-sunday" value="sunday"/><label class="checkbox-label" for="day-sunday">Sunday</label>
					</div>
				</div>
				<div class="column-short">
					<h5>Time</h5>
					<input type="range" name="points" min="0" max="24">
					<p class="start-time">8am</p>
					<p class="end-time">10am</p>
					<a href="#" class="cancel-button">cancel</a>
				</div>
			</div> <!-- filter-bottom-container -->
		</div> <!-- filter-container -->
	</form>
</div>