.about-us {
	@include main-content;
	margin: 25px auto 30px;

	img {
		height: auto;
		width: 100%;
	}

	.about-us-content {
		width: 100%;
		margin: 25px 0 40px 0;

		h2 {
			@include open-sans('light');
			font-size: 30px;
			line-height: 100%;
			margin-bottom: 25px;
		}

		.column-content {
			@include column-count(2);
			@include column-gap(90px);
		}

		.nolte-logo {
			font-size: 14px;
			line-height: 150%;
			padding: 20px 0;
			text-align: center;
			text-transform: uppercase;

			span {
				display: block;
			}

			.subtitle {
				font-size: 11px;
			}
		}

		.about-us-logo {
			@include hide-text;

			background: url(/assets/img/header-logo2.png) no-repeat;
			background-size: 85%;
			display: inline-block;
			float: left;
			height: 45px;
			margin: 8px 0 -14px 0;
			width: 110px;
		}
	}
}

@media only screen and (max-width: $break-large) {
	
	.about-us .about-us-content .column-content {
		@include column-gap(50px);
	}
}

@media only screen and (max-width: $break-small) {

	.about-us {
		margin: 15px 0 0;

		header {
			height: 120px;
		}

		.about-us-content {
			margin: 15px 0;

			h2 {
				font-size: 24px;
			}

			.column-content {
				@include column-count(1);
			}

			.nolte-logo {
				padding: 10px 0;
			}
		}
	}

}