.about-us {
	width: 100%;
	margin: 0 auto;

	header {
		@include border-box;
		background: url(/assets/img/about-us-background.jpg);
		background-size: cover;
		height: 258px;
		padding-top: 50px;
		width: 100%;

		h1 {
			@include playfair-display;
			color: #343737;
			font-size: 70px;
			line-height: 100%;
			margin: 0;
			text-align: center;
		}
	}

	.about-us-content {
		@include main-content;
		@include clearfix;

		margin: 45px auto 60px;

		h2 {
			@include open-sans('light');
			font-size: 30px;
			line-height: 100%;
			margin-bottom: 25px;
		}

		.left, .right {
			padding-top: 20px;
			width: 45%;
		}

		.left {
			float: left;
		}

		.right {
			float: right;
		}

		.nolte-logo {
			font-size: 14px;
			line-height: 150%;
			padding-bottom: 20px;
			text-align: center;
			text-transform: uppercase;

			span {
				display: block;
			}

			.subtitle {
				font-size: 11px;
			}
		}

		.about-us-logo {
			@include hide-text;

			background: url(/assets/img/header-logo2.png) no-repeat;
			background-size: 100%;
			display: block;
			height: 46px;
			margin: 0 auto 15px;
			width: 110px;
		}
	}
}

@media only screen and (max-width: $break-small) {

	.about-us {

		header {
			height: 120px;
		}

		.about-us-content {
			margin: 25px 0;

			h2 {
				font-size: 24px;
			}

			.left, .right{
				width: 100%;
			}

			.right {
				padding-top: 0;
			}

			.nolte-logo {
				padding: 10px 0;
			}
		}
	}

}