.collection {
	@include main-content;
	margin: 30px auto;
}

.collection-header {
	text-align: center;
	margin-bottom: 30px;

	h1 {
		@include playfair-display;
		color: #040404;
		font-size: 46px;
		line-height: 100%;
		margin: 0 0 11px;
	}

	.num-of-items {
		@include open-sans(semibold);
		color: #676969;
		text-transform: uppercase;
	}
}

.collection .info-bar {
	@include open-sans(semibold);
	border-top: 1px solid #040404;
	border-bottom: 1px solid #040404;
	color: #040404;
	font-size: 12px;
	margin-bottom: 30px;
	padding: 18px 0 16px;
	text-transform: uppercase;
}

.collection-list {
	font-size: 0;
	padding: 0;
	margin: 0 -25px 60px;

	.collection-item {
		@include border-box;
		display: inline-block;
		font-size: 12px;
		line-height: 140%;
		margin-bottom: 30px;
		padding: 0 25px;
		vertical-align: top;
		width: 33.3%;

		img, .collection-sale {
			background: #d9e6e6;
			height: auto;
			margin-bottom: 5px;
			width: 100%;
		}

		.collection-title {
			display: block;
			@include open-sans(semibold);
			margin-bottom: 8px;
			text-transform: uppercase;
		}

		.price {
			display: inline-block;
			vertical-align: middle;
		}

		.small-btn {
			border: 1px solid #000;
			display: inline-block;
			float: right;
			padding: 3px 6px;
			text-decoration: none;

			.icon-cart {
				margin-right: 3px;
			}

			&:hover, &:active {
				background: #000;
				color: #FFF;
			}
		}
	}
}

.collection-sale {
	display: table;

	.collection-sale-text {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}

	.sale-title {
		@include playfair-display;
		display: block;
		font-size: 46px;
		line-height: 100%;
		margin: 0 0 11px;
	}

	.sale-subtitle {
		@include open-sans(semibold);
		font-size: 14px;
		text-transform: uppercase;
	}
}

@media only screen and (max-width: $break-large) {

	.collection-list {
		margin: 0 -15px 60px;

		.collection-item {
			padding: 0 15px;
		}
	}

}

@media only screen and (max-width: $break-medium) {

	.collection-list .collection-item{
		width: 50%;
	}

}

@media only screen and (max-width: $break-small) {

	.collection {
		margin: 20px 0 30px;

		.info-bar {
			margin-bottom: 20px;
			padding: 14px 0 12px;
		}
	}

	.collection-header {
		margin-bottom: 20px;

		h1 {
			font-size: 30px;
		}
	}
}

@media only screen and (max-width: 400px) {

	.collection-list {
		margin: 0 0 20px;

		.collection-item {
			width: 100%;
			padding: 0 0px;
		}
	}
}