.customer-care {
	@include main-content;
	margin: 60px auto;
	position: relative;
	
	nav {
		left: 18px;
		position: absolute;
		top: 9px;
		width: 100%;

		ul {
			width: 21%;
			padding-top: 7px;
			border-right: 1px solid #000;
		}

		&.sticky {
			position: fixed;
			top: 13px;

			.nav-container {
				margin: 0 auto;
				max-width: 960px;
				width: 100%;
			}
		} 

		a {
			@include open-sans('light');
			cursor: pointer;
			display: inline-block;
			font-size: 18px;
			line-height: 130%;
			padding-bottom: 2px;
			margin-bottom: 8px;

			&:hover, &:active {
				text-decoration: none;
				border-bottom: 1px solid #000;
				margin-bottom: 7px;
			}
		}
	}

	section {
		@include border-box;
		margin-left: 30%;
		padding-top: 15px;
		width: 70%;

		&:first-child {
			padding-top: 0;
		}

		h2 {
			@include playfair-display;
			border-bottom: 1px solid #000;
			font-size: 36px;
			line-height: 130%;
			margin-bottom: 20px;
			padding-bottom: 5px;
		}
	}
}

@media only screen and (max-width: $break-small) {

	.customer-care {
		margin: 0 auto 25px;
		padding-top: 90px;
		position: relative;

		nav {
			background: #FFF;
			position: absolute;
			left: 18px;
			top: 0;
			right: 18px;
			width: auto;

			ul {
				@include clearfix;
				border-right: none;
				border-bottom: 1px solid #000;
				width: 100%;
				padding-top: 15px;
				padding-bottom: 5px;

				li {
					float: left;
					width: 50%;
				}
			}

			&.sticky {
				top: 0;
			} 
		}

		section {
			margin-left: 0;
			padding-top: 100px;
			margin-top: -90px;
			width: 100%;

			h2 {
				font-size: 30px;
			}

			&:first-child {
				padding-top: 100px;
			}
		}
	}

}