.product-section {
    @include clearfix;
    @include main-content;
    margin: 50px auto 40px;
}

.product-images {
    float: left;
    width: 45%;
    text-align: center;

    .main-image {
        width: 76.5%;
    }
}

.image-picker {
    display: inline-block;
    font-size: 0;
    margin: 5px -5px;
    text-align: center;
    width: 80%;

    li {
        @include border-box;
        display: inline-block;
        padding: 5px;
        width: 33%;

        img {
            cursor: pointer;
            opacity: 0.5;
            width: 100%;

            &.active {
                opacity: 1;
            }
        }
    }
}

.product-details {
    float: right;
    width: 50%;

    h1 {
        @include playfair-display;
        font-size: 36px;
        line-height: 115%;
        margin: 0 0 30px;
    }

    .price {
        @include open-sans('light');
        display: block;
        font-size: 26px;
    }

    p, .large-btn, .price {
        margin-bottom: 35px;
    }

    .large-btn .icon-cart {
        margin-right: 10px;
    }
}

.product-features {
    border-bottom: 1px solid #000;
    padding: 18px 0 15px;
    position: relative;

    &:first-child {
        border-top: 1px solid #000;

        ul {
            display: block;
        }
    }

    .title {
        @include open-sans('light');
        display: block;
        font-size: 21px;
        margin-left: 10px;
    }

    .slider-btn {
        cursor: pointer;
        position: absolute;
        width: 50px;
        height: 46px;
        right: 0px;
        top: 0px;

        &:after {
            border-style: solid;
            border-width: 7px 6px 0 6px;
            border-color: #343737 transparent transparent transparent;
            content: '';
            display: block;
            height: 0;
            position: absolute;
            top: 20px;
            right: 10px;
            -webkit-transform:rotate(360deg);
            width: 0;
        }

        &.open:after {
            border-width: 0 6px 7px 6px;
            border-color: transparent transparent #343737 transparent;
        }
    }

    ul {
        @include border-box;
        display: none;
        padding-top: 5px;
        list-style-type: disc;
        margin-left: 30px;

        li {
            @include open-sans('light');
            line-height: 160%;
            margin-top: 10px;
        }
    }
}

@media only screen and (max-width: $break-small) {

    .product-section {
        margin: 20px auto 30px;
    }

    .product-images {
        width: 100%;
        text-align: left;

        .main-image {
            width: 74%;
        }

        ul {
            @include border-box;
            width: 25%;
            margin: 0;

            li {
                width: 100%;
            }
        }
    }

    .product-details {
        width: 100%;

        h1 {
            font-size: 30px;
            margin-bottom: 22px;
        }

        p, .price, .large-btn {
            margin-bottom: 20px;
        }
    }
}