---
title: 'Zumba Wireframe: All Classes'
name: 'All Classes'
---

{{> classes-breadcrumbs }}
<section class="all-classes">
	<input class="location-input" type="text" placeholder="Search by Location">
	<a class="find-a-class"></a>
</section>