---
title: 'Zumba Wireframe: Classes'
name: 'classes'
---

<section class="class-grid">
	<a class="zumba-toning-link" href="/classes/zumba-toning.html"></a>
</section>

{{> map }}

<section class="instructor-grid">
	<div id="become-an-instructor"></div>
	<a class="zumba-basic-link" href="/classes/zumba-basic-1.html"></a>
</section>