---
title: 'Zumba Wireframe: Zumba Basic 1'
name: 'Zumba Basic 1'
---

{{> classes-breadcrumbs }}
<section class="zumba-basic">
	<input class="location-input" type="text" placeholder="Search by Location">
	<a class="find-a-class" href="/classes/results.html"></a>
</section>