---
title: 'Zumba Wireframe: Zumba'
name: 'Zumba'
---

{{> classes-breadcrumbs }}
<section class="zumba">
	<input class="location-input" type="text" placeholder="Search by Location">
	<a class="find-a-class"></a>
</section>