---
title: 'Zumba Wireframe: Women Tops'
name: 'tops'
---

<section class="catalogue-container">
	{{> catalogue-selectors}}
	<div class="catalogue-tops">
		<a class="pink-top-link" href="#"></a>
	</div>
</section>
<section class="shop-collection"></section>
