html {
	background: #5E5F61
}

body {
	@include font($din-regular);
	color: #4D4D4D;
	background: #FFF;
	font-size: 18px;
	margin: 0 auto;
	width: 1260px;
}

a,
a:active {
	color: #ed1e79;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

// HEADER
.main-header {
	@include background-img('header.png');
	height: 123px;
	position: relative;
	width: 100%;

	.home-link {
		@include absolute-link(135px, 44px, 975px, 0px);
	}

	.classes-link {
		@include absolute-link(81px, 23px, 148px, 65px);

		&.active {
			border-bottom: 2px solid #ed1e79;
		}
	}

	.shop-link {
		@include absolute-link(53px, 23px, 286px, 65px);

		&.active {
			border-bottom: 2px solid #ed1e79;
		}
	}

	.header-cart-link {
		@include absolute-link(50px, 39px, 1062px, 56px);
		display: none;

		&._active {
			display: block;
		}

		span {
			@include font($din-medium);
			color: #000;
			display: block;
			padding: 2px;
			background: #d8df51;
			position: absolute;
			top: 2px;
			left: 32px;
			font-size: 13px;
		}
	}

	&._fixed {
		position: fixed;
		top: 0;
		z-index: 3;
		margin: 0 auto;
		width: 1260px;
	}
}

// HOMEPAGE
.homepage {
	@include background-img('homepage.png');
	height: 2630px;
	margin: 10px 0;
	position: relative;
	width: 1210px;
}

// FOOTER
.main-footer {
	@include background-img('footer.png');
	background-color: #5E5F61;
	height: 468px;
	position: relative;
	width: 100%;

	.shop-link {
		@include absolute-link(48px, 22px, 145px, 232px);
	}
}