@font-face {
	font-family: 'open-sans';
	src: url('/assets/opensans-regular.eot');
	src: url('/assets/opensans-regular.eot?#iefix') format('embedded-opentype'),
	     url('/assets/opensans-regular.woff') format('woff'),
	     url('/assets/opensans-regular.ttf') format('truetype'),
	     url('/assets/opensans-regular.svg#opensans-regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open-sans-light';
	src: url('/assets/opensans-light.eot');
	src: url('/assets/opensans-light.eot?#iefix') format('embedded-opentype'),
	     url('/assets/opensans-light.woff') format('woff'),
	     url('/assets/opensans-light.ttf') format('truetype'),
	     url('/assets/opensans-light.svg#opensans-light') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'open-sans-semibold';
	src: url('/assets/opensans-semibold.eot');
	src: url('/assets/opensans-semibold.eot?#iefix') format('embedded-opentype'),
	     url('/assets/opensans-semibold.woff') format('woff'),
	     url('/assets/opensans-semibold.ttf') format('truetype'),
	     url('/assets/opensans-semibold.svg#opensans-semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('/assets/icomoon.eot?-pkrvnf');
	src:url('/assets/icomoon.eot?#iefix-pkrvnf') format('embedded-opentype'),
		url('/assets/icomoon.woff?-pkrvnf') format('woff'),
		url('/assets/icomoon.ttf?-pkrvnf') format('truetype'),
		url('/assets/icomoon.svg?-pkrvnf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'playfair-display';
	src: url('/assets/playfairdisplay.eot');
	src: url('/assets/playfairdisplay.eot?#iefix') format('embedded-opentype'),
	     url('/assets/playfairdisplay.woff') format('woff'),
	     url('/assets/playfairdisplay.ttf') format('truetype'),
	     url('/assets/playfairdisplay.svg#playfairdisplay') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sweden:before {
	content: "\e600";
}
.icon-cart:before {
	content: "\e601";
}
.icon-search:before {
	content: "\e602";
}
.icon-google:before {
	content: "\e603";
}
.icon-facebook:before {
	content: "\e604";
}
.icon-instagram:before {
	content: "\e605";
}
.icon-twitter:before {
	content: "\e606";
}
.icon-pinterest:before {
	content: "\e607";
}

$open-sans: 'open-sans', sans-serif;
$open-sans-light: 'open-sans-light', sans-serif;
$open-sans-semibold: 'open-sans-semibold', sans-serif;
$playfair-display: 'playfair-display', serif;

@mixin open-sans($style: 'regular') {
	
	@if $style == 'regular' {
		font-family: $open-sans;
	}

	@if $style == 'light' {
		font-family: $open-sans-light;
	}

	@if $style == 'semibold' {
		font-family: $open-sans-semibold;
	}
}

@mixin playfair-display() {
	font-family: $playfair-display;
}