$break-large: 960px;
$break-medium: 768px;
$break-small: 650px;

@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin border-radius($content) {
	-webkit-border-radius: $content;
	-moz-border-radius: $content;
	border-radius: $content;
}

@mixin clearfix {
	zoom:1;
	
	&:before, 
	&:after {
		content: "\0020"; 
		display: block; 
		height: 0; 
		overflow: hidden; 
	}
	
	&:after {
		clear: both;
	}
}

@mixin column-count($count) {
	-webkit-column-count: $count;
	-moz-column-count: $count;
	column-count: $count;
}

@mixin column-gap($gap) {
	-webkit-column-gap: $gap; /* Chrome, Safari, Opera */
	-moz-column-gap:  $gap; /* Firefox */
	column-gap: $gap;
}

@mixin main-content {
	width: 960px;

	@media (max-width: $break-large) {
		@include border-box;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@mixin hide-text {
	text-indent: -9999px;
    white-space: nowrap;
}